/* =========================
   VARIABLES SASS (ÚNICA FUENTE)
========================= */

$bg-main: #0b0e14;
$bg-surface: #141824;
$bg-card: #1e2230;

$color-primary: #ff9800;
$color-primary-hover: #ffa733;

$text-main: #ffffff;
$text-muted: #9ca3af;

$border-soft: #2a2f3d;

$radius-md: 12px;
$radius-lg: 16px;

$transition: all 0.25s ease;
